.body {
    background: #EFEFEF;
    margin: 0;
}
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
hr {
    height: 0;
    border: none;
    border-top: 1px solid #DEDEDE;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.topNavBar {
    padding: 20px 0 20px 0;
}
.topNavBar nav {
    padding-top: 7px;
}
.topNavBar nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.topNavBar nav > ul > li {
    float: left;
    margin-right: 17px;
    margin-left: 17px;
}
.topNavBar nav > ul > li > a{
    font-size: 12px;
    font-weight: bold;
    color: #B7B7B7;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}
.topNavBar nav > ul > li > a:hover{
    border-bottom: 3px solid #E06567;
}
.topNavBar .logo {
    font-family: "Arial black";
    font-size: 24px;
    padding-top: 3px;
    padding-bottom: 4px;
}
.topNavBar .logo .rs {
    color: #E6686A;
    margin-right: 8px;
}
.topNavBar .logo .card {
    color: #9A9DA2;
}
.banner {
    background-image: url(./pic/rs-cover.jpg);
    background-position: center center;
    background-size: cover;
    height: 515px;
}
.banner .mask {
    background-color: rgba(0,0,0,0.8);
    height: 515px;
}
.userCard {
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;

}
.userCard .welcome {
    display: inline-block;
    color: white;
    background: #E6686A;
    padding: 4px 16px;
    position: relative;
    margin-bottom: 16px;
    line-height: 22px;
}
.userCard .welcome .triangle {
    width: 0;
    border: 10px solid transparent;
    border-left-color: #E6686A;
    border-top-width: 0;
    display: block;
    position: absolute;
    top: 100%;
    left: 4px;
}
.userCard .picture {
    float: left;
}
.userCard .pictureAndText {
    padding: 50px; 
}
.userCard .text {
    float: left;
    margin-left: 65px;
    width: 470px;
}
.userCard .text h1 {
    margin-top: 18px;
}
.userCard .text hr {
    margin: 15px 0;
}
.userCard dl dt,.userCard dl dd{
    padding: 5px 0;
    float: left;
}
.userCard dl dt {
    font-weight: bold;  
    width: 30%;
}
.userCard dl dd {
    width: 70%;
    color: #9da0a7;
}
.userCard > footer.media {
    text-align: center;
    background-color: #E6686A;
}
.userCard > footer.media > a{
    display: inline-block;
    padding: 5px 0;
    margin: 16px;
    border-radius: 100%;
    width: 40px;
    line-height: 30px;
}
.userCard > footer.media > a:hover {
    background: #CF5D5F;
}
.userCard svg {
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top;
}